# Ignore le dossier uploads (contenu local non versionné)
uploads/

# Fichiers temporaires générés par Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Dossiers de build alternatifs
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Autres fichiers à ignorer
*.log
*.tmp
*.bak
*.swp
.DS_Store
uploads/
uploads/
